body {
    /* font-family: "Ocean Sunshine Demo Version";
    src: url('Amanise.ttf'); */
    background-color: rgb(36, 36, 36);
    background-size: cover;
    margin:0;
    overflow-x: hidden;
}

.header {
    text-align: center;
    background-image: url("img/backgroundAtas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 20px;
}

.name, .navbar-brand, #name {
    font-family: "Ocean Sunshine Demo Version";
    src: url('./font/Ocean\ Sunshine\ Demo\ Version.otf');
    padding: 20px 10px;
}

.desc {
    color: rgb(255, 255, 255);
    font-family:"Amanise";
}

.header img {
    border: solid 5px rgba(0, 0, 0, 0.479);
    margin: 8px;
    border-radius: 100%;
}

